html {
  background-color: #0036D9;
  padding-top: 2%;
}

body {
  width: 50%;
  margin: auto;
  background-color: #FFDD26;
  border: 2px solid #000000;
  padding: 5%;
  font-family: "Times New Roman", Georgia, serif;
  text-align: center;
  color:#777777;
}

p {
  font-size: 1.75em;
}

.sub {
  font-size: 0.75em;
}