html {
  background-color: #000080;
  padding-top: 2%;
}

body {
  width: 50%;
  margin: auto;
  background-color: #EAA21E;
  border: 2px solid #000000;
  padding: 5%;
  font-family: "Times New Roman", Georgia, serif;
  text-align: center;
}

p {
  font-size: 1.75em;
}

.sub {
  font-size: 0.75em;
}